<%- include('../layouts/header.ejs') %> 

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Coupons</h2>
                        
                    </div>
                    <div>
                        <input type="text" placeholder="Search Categories" class="form-control bg-white" />
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <form id="createCouponForm" method="POST">
                                    <div class="mb-4">
                                        <label for="Coupon_title" class="form-label">Coupon Title</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="Coupon_title" name="title" />
                                    </div>
                                    <div class="mb-4">
                                        <label for="Coupon_code" class="form-label">Coupon Code</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="Coupon_code" name="code" />
                                        <div id="codeError" style="color: red; display: none;">Coupon code must have at least three characters and contain at least one number.</div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="Coupon_discount" class="form-label">Discount Amount</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="Coupon_discount" name="discount" />
                                    </div>
                                    <div class="mb-4">
                                        <label for="Coupon_meetAmount" class="form-label">Meet Amount</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="Coupon_meetAmount" name="meetAmount" />
                                    </div>
                                    <div class="mb-4">
                                        <label for="Coupon_description" class="form-label">Description</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="Coupon_description" name="description" />
                                    </div>
                                    <div class="mb-4">
                                        <label for="Coupon_expiry" class="form-label">Expiry Date</label>
                                        <input type="date" class="form-control" id="Coupon_expiry" name="expiryDate" />
                                    </div>
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Create Coupon</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                
                                                <th>Name</th>
                                                <th>Code</th>
                                                <th>Discount</th>
                                                <th>Meet Amount</th>
                                                <th>Expiry Date</th>
                                                <th>isActive</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% coupons.forEach(coupon => { %>
                                                <tr>
                                                    <td><%= coupon.title %></td>
                                                    <td><%= coupon.code %></td>
                                                    <td><%= coupon.discount %></td>
                                                    <td><%= coupon.meetAmount %></td>
                                                    <td><%= new Date(coupon.expiryDate).toISOString().split('T')[0] %></td>
                                                    <td><%= coupon.status %></td>
                                                    <td>
                                                        <a href="#" class="edit-coupon-link" data-coupon-id="<%= coupon._id %>" style="color: green;">Edit</a>
                                                        <a href="#" class="delete-coupon-link" data-coupon-id="<%= coupon._id %>" style="color: red;">Delete</a>

                                                    </td>
                                                    
                                                </tr>
                                            <% }); %>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                <!-- card .// -->
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="statSheet/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="statSheet/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="statSheet/js/vendors/select2.min.js"></script>
        <script src="statSheet/js/vendors/perfect-scrollbar.js"></script>
        <script src="statSheet/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="statSheet/js/main.js?v=1.1" type="text/javascript"></script>

        <script>
            document.getElementById('createCouponForm').addEventListener('submit', async (event) => {
                event.preventDefault();
        
                const titleInput = document.getElementById('Coupon_title').value;
                const codeInput = document.getElementById('Coupon_code').value;
                const discountInput = document.getElementById('Coupon_discount').value;
                const meetAmount = document.getElementById('Coupon_meetAmount').value;
                const descriptionInput = document.getElementById('Coupon_description').value;
                const expiryDateInput = document.getElementById('Coupon_expiry').value;
        
                // Validate all fields
                if (!isValidInput(titleInput) || !isValidInput(codeInput) ||
                    !isValidInput(discountInput) || !isValidInput(descriptionInput) ||
                    !isValidInput(expiryDateInput) || !isValidInput(meetAmount)){
                    alert('All fields are required. Please fill them out.');
                    return;
                }
                const isValidCode = isValidCouponCode(codeInput);
                if (!isValidCode) {
                    const codeError = document.getElementById('codeError');
                    codeError.style.display = 'block';
                    return;
                }
                event.target.submit();
            }); 
    
            function isValidCouponCode(code) {
                return code.length >= 3 && /\d/.test(code);
            }
            function isValidInput(input) {
                return input.trim() !== ''
            }
        </script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    // Add event listener to the delete link
    document.querySelectorAll('.delete-coupon-link').forEach(link => {
      link.addEventListener('click', function(event) {
        event.preventDefault();
        
        const couponId = this.getAttribute('data-coupon-id');
        
        // Show SweetAlert confirmation dialog
        Swal.fire({
          title: 'Are you sure?',
          text: 'You are about to delete this coupon.',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#3085d6',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            // If user confirms, redirect to the delete URL
            window.location.href = '/admin/deleteCoupon/' + couponId;
          }
        });
      });
    });


    document.querySelectorAll('.edit-coupon-link').forEach(link => {
    link.addEventListener('click', function(event) {
      event.preventDefault();
      
      const couponId = this.getAttribute('data-coupon-id');
      
      // Show SweetAlert confirmation dialog
      Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to edit this coupon.',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, edit it!'
      }).then((result) => {
        if (result.isConfirmed) {
          // If user confirms, redirect to the edit URL
          window.location.href = '/admin/editCoupons/' + couponId;
        }
      });
    });
  });
  </script>
        
    </body>
</html>
