<%- include("./profileHeader.ejs") %>
  <!-- Header part end-->

  <div class="container light-style flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-4 " style="margin-top: 110px;">
        MY PROFILE
    </h4>
    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action" href="/userProfile">PROFILE</a>
                    <a class="list-group-item list-group-item-action" href="/editUserProfile">EDIT PROFILE</a>
                    <a class="list-group-item list-group-item-action" href="/changePassword">CHANGE PASSWORD</a>
                    <a class="list-group-item list-group-item-action" href="/orderDetails">ORDER</a>
                    <a class="list-group-item list-group-item-action active" href="/addressManage">MANAGE ADDRESS</a>
                    <a class="list-group-item list-group-item-action" href="#"></a>
                    <a class="list-group-item list-group-item-action" href="#"></a>
                </div>
            </div>   


  <div class="custom-form">
    <form action="/editAddress/<%= address._id %>" method="post">
        <div class="mt-30">
            <input type="text" name="name" placeholder="Name" value="<%= address.name %>" required class="single-input-primary">
        </div>
    
        <div class="mt-10">
            <input type="text" name="mobile" placeholder="10-digit Mobile Number" value="<%= address.mobile %>" required class="single-input-primary">
        </div>
    
        <div class="mt-10">
            <input type="text" name="pincode" placeholder="Pincode" value="<%= address.pincode %>" required class="single-input-primary">
        </div>
    
        <div class="mt-10">
            <input type="text" name="address" placeholder="Address" value="<%= address.address %>" required class="single-input-primary">
        </div>
    
        <div class="mt-10">
            <input type="text" name="city" placeholder="City/District/Town" value="<%= address.city %>" required class="single-input-primary">
        </div>
    
        <div class="mt-10">
            <input type="text" name="state" placeholder="State" value="<%= address.state %>" required class="single-input-primary">
        </div>
    
        <div class="mt-10">
            <input type="text" name="landmark" placeholder="Landmark (optional)" value="<%= address.landmark %>" class="single-input-primary">
        </div>
    
        <div class="mt-10">
            <input type="text" name="alternateMobile" placeholder="Alternate Phone (optional)" value="<%= address.alternateMobile %>" class="single-input-primary">
        </div>
    
        <div class="mt-30"></div>
        <button type="submit" class="genric-btn primary-border">SAVE THE ADDRESS</button>
    </form>
    
</div>
  <!-- jquery plugins here-->
  <!-- jquery -->
  <script src="/js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="/js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="/js/swiper.min.js"></script>
  <!-- swiper js -->
  <script src="/js/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/js/slick.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script src="/js/waypoints.min.js"></script>
  <script src="/js/contact.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/jquery.form.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/mail-script.js"></script>
  <script src="/js/stellar.js"></script>
  <script src="/js/price_rangs.js"></script>
  <!-- custom js -->
  <script src="/js/custom.js"></script>
</body>

</html>
