<%- include('./header.ejs') %>
    <!-- Header part end-->
<br>
<!--================Category Product Area =================-->
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Browse Categories</h3>
                            </div>
                            <div class="widgets_inner">
                                <form action="/loadShop" method="GET">
                                    <ul class="list">
                                        <!-- Display all categories with radio buttons to filter by each category -->
                                        <% for (const category of allCategories) { %>
                                            <li>
                                                <input type="radio" name="category" id="<%= category._id %>" value="<%= category._id %>"
                                                    <%= selectedCategoryId === category._id.toString() ? 'checked' : '' %>>
                                                <label for="<%= category._id %>"><strong><%= category.name %></strong></label>
                                                <!-- Dropdown to display brands related to the current category -->
                                                <div class="dropdown">
                                                    <button class="dropbtn"><i class="fa-solid fa-angle-down"></i></button>
                                                    <div class="dropdown-content" id="dropdown-<%= category._id %>">
                                                        <!-- Display brands related to the current category -->
                                                        <ul class="brands-list">    
                                                            <% for (const brand of brandsByCategory[category._id] || []) { %>
                                                            <li>
                                                                <input type="checkbox" name="brands" value="<%= brand %>"
                                                                <% if (selectedBrands && selectedBrands.includes(brand) && selectedCategoryId === category._id.toString()) { %> checked <% } %>>
                                                            <label><%= brand %></label>
                                                            
                                                        
                                                            </li>
                                                            <% } %>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        <% } %>
                                        
                                    </ul>
                                    <div style="text-align: center;">
                                        <button type="submit" class="btn btn-primary btn-lg">Apply Filters</button>
                                      </div>
                                      

                                </form>
                            </div>
                            
                            
                            
                            
                            
                            
                            
                              

                        <div class="l_w_title"> 
                         <h3>Sort Products</h3>
                            
                              <div class="price-slider">
                                <span class="price-label">PRICE</span>
                            </div>
                                <div class="price-options">
                                    <div class="price-option" data-min="0" data-max="1000">₹0 - ₹1000</div>
                                    <div class="price-option" data-min="1001" data-max="2000">₹1001 - ₹2000</div>
                                    <div class="price-option" data-min="2001" data-max="3000">₹2001 - ₹3000</div>
                                    <div class="price-option" data-min="3001" data-max="4000">₹3001 - ₹4000</div>
                                    <div class="price-option" data-min="4001" data-max="10000">₹4001+</div>
                                </div>
                            </div>  
                          </aside>
                    </div>
                </div>


                <div class="col-lg-9">
                    <% if (message) { %>
                        <h3 style="color: red;"><%= message %></h3>
                        <% } else { %>

                    <section class="cat_product_area section_padding">
                        <div class="container">
                            <div class="row align-items-center justify-content-between" id="searchResults">
                                <% for (let i = 0; i < products.length; i++) { %>
                                    <% if (products[i].status  && products[i].category.status) { %> <!-- Check product status -->
                                        <div class="col-lg-4 col-sm-6">
                                            <a href="/product/<%= products[i]._id %>">
                                                <div class="single_product_item">
                                                    <img src="/uploads/resized/<%= products[i].productImages[0] %>" alt="<%= products[i].name %>">
                                                    <div class="single_product_text">
                                                        <h4><%= products[i].name %></h4>
                                                        <h3>₹<%= products[i].price %></h3>
                                                        <%if(products[i].quantity<4){%>
                                                            <h3 style="color: red;">stock is less than 4 hurryUp!</h3>
                                                            <%}%>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </section>
                    <% } %>
                </div>
                   <!-- ------------- pagination----------- -->
                        <div class="col-lg-12">
                            <div class="pageination">
                              <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center" id="pagination">
                                  <% for (let i = 1; i <= totalPages; i++) { %>
                                    <li class="page-item <% if (i === currentPage) { %>active<% } %>">
                                      <a class="page-link" href="/loadShop?page=<%= i %>"><%= i %></a>
                                    </li>
                                  <% } %>
                                </ul>
                              </nav>
                            </div>
                          </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Top Products</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Managed Website</a></li>
                            <li><a href="">Manage Reputation</a></li>
                            <li><a href="">Power Tools</a></li>
                            <li><a href="">Marketing Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Quick Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Features</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Resources</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Guides</a></li>
                            <li><a href="">Research</a></li>
                            <li><a href="">Experts</a></li>
                            <li><a href="">Agencies</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4>Newsletter</h4>
                        <p>Heaven fruitful doesn't over lesser in days. Appear creeping
                        </p>
                       
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="copyright_text">
                            <P><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></P>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer_icon social_icon">
                            <ul class="list-unstyled">
                                <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->

    <!-- jquery plugins here-->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/stellar.js"></script>
    <script src="js/price_rangs.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- ... (previous HTML code) ... -->

<!-- ... (previous HTML code) ... -->

<script>
   $(document).ready(function() {
    // Attach an event listener to the search input field
    $('#search_input').on('input', function() {
        // Get the search term from the input field
        const searchTerm = $(this).val();

        // Send an AJAX request to the backend to search for products
        $.ajax({
            method: 'GET',
            url: '/search',
            data: { q: searchTerm },
            success: function(response) {
                // Update the UI with the search results
                displaySearchResults(response.products);
            },
            error: function(xhr, status, error) {
                console.error('Error searching products:', error);
                // Optionally, display an error message on the UI
                $('#searchResults').html('<p>Error searching products. Please try again later.</p>');
            }
        });
    });

    // Function to display search results on the UI
    function displaySearchResults(products) {
        // Clear previous search results
        $('#searchResults').empty();

        // Check if there are any search results
        if (products.length === 0) {
            $('#searchResults').html('<p>No products found.</p>');
            return;
        }

        // Iterate over the products and display them
        products.forEach(function(product) {
            // Append each product to the search results container
            $('#searchResults').append(`
                <div class="col-lg-4 col-sm-6">
                    <a href="/product/${product._id}">
                        <div class="single_product_item">
                            <img src="/uploads/resized/${product.productImages[0]}" alt="${product.name}">
                            <div class="single_product_text">
                                <h4>${product.name}</h4>
                                <h3>₹${product.price}</h3>
                                ${product.quantity < 4 ? '<h3 style="color: red;">Stock is less than 4. Hurry up!</h3>' : ''}
                            </div>
                        </div>
                    </a>
                </div>
            `);
        });
    }
});
</script>
<script>
    $(document).ready(function() {
        // Select all div elements with the class 'price-option'
        const priceOptions = $('.price-option');

        // Attach a click event listener to each option
        priceOptions.on('click', function() {
            // Remove the 'selected' class from all options
            priceOptions.removeClass('selected');
            
            // Add the 'selected' class to the clicked option
            $(this).addClass('selected');

            // Retrieve data-min and data-max attributes of the clicked option
            const min = $(this).data('min');
            const max = $(this).data('max');
            
            // Log or do something with the min and max values
            console.log('Min:', min);
            console.log('Max:', max);

            // Send AJAX request to the backend
            $.ajax({
                url: '/sort',
                type: 'GET',
                data: { minPrice: min, maxPrice: max }, // Send both minPrice and maxPrice
                success: function(response) {
                    // Handle successful response from the server
                    console.log(response);
                    // Update UI to show the products
                    showProducts(response.filteredProducts);
                },
                error: function(xhr, status, error) {
                    // Handle errors or other status codes
                    console.error(xhr.responseText);
                }
            });
        });

        // Function to display products on the webpage
        function showProducts(products) {
            const searchResults = $('#searchResults');
            searchResults.empty(); // Clear previous search results

            // Check if products array is empty
            if (products.length === 0) {
                // Display "No products found" message
                searchResults.append('<h3 style="color:red;">No products found</h3>');

            } else {
                // Iterate over products and create HTML elements for each product
                products.forEach(product => {
                    const productItem = `
                        <div class="col-lg-4 col-sm-6">
                            <a href="/product/${product._id}">
                                <div class="single_product_item">
                                    <img src="/uploads/resized/${product.productImages[0]}" alt="${product.name}">
                                    <div class="single_product_text">
                                        <h4>${product.name}</h4>
                                        <h3>₹${product.price}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    `;
                    searchResults.append(productItem); // Append the product item to the search results container
                });
            }
        }
    });
</script>


<script>
   $(document).ready(function() {
    // Toggle dropdown visibility when a category is selected
    $('input[type=radio][name=category]').change(function() {
        var categoryId = $(this).val();
        $('.dropdown-content').hide(); // Hide all dropdowns
        $('#dropdown-' + categoryId).show(); // Show dropdown for the selected category
    });

    // Close dropdowns when clicking outside of them
    $(document).click(function(event) {
        if (!$(event.target).closest('.dropdown').length) {
            $('.dropdown-content').hide(); // Hide all dropdowns
        }
    });
});

</script>




</body>

</html>